{% extends "HaphanBobiGiftBundle::layout.html.twig" %}

{% block body_container_main %}
    {{ parent() }}
    {{ block('bobi_featured') }}
    {{ block('bobi_guide_video') }}
    {{ block('bobi_subscribe') }}
    {{ block('bobi_showcase_vertical') }}
{% endblock %}

{% block bobi_container %}{% endblock %}

