{% extends "HaphanBobiGiftBundle::layout.html.twig" %}

{% block body_container_main %}
    {{ parent() }}
    {% block bobi_layout_2cols %}
        <div class="bobi_layout_2cols">
            <div class="sidecol">
                {{ block('bobi_category_filter') }}
            </div>
            <div class="maincol">
                <img src="{{ asset('bundles/haphanbobigift/images/guide-thiep-video.png') }}"/>
                <br/>
                <br/>
                {{ block('bobi_breadcrumb') }}
                <br/>
                {{ block('bobi_product_items') }}
            </div>
        </div>
    {% endblock %}
{% endblock %}


{% block bobi_breadcrumb %}
    <div class="bobi_breabcrumb">
        <p>
            <span><a href="{{ url('haphan_bobi_gift_homepage') }}">Trang chủ</a></span>
            <i class="fa fa-caret-right"></i>
            <span><a href="{{ url('haphan_bobi_gift_categories', { category: 'thiep' }) }}">Thiệp</a></span>
        </p>
    </div>
{% endblock %}


{% block bobi_product_items %}
    <div class="bobi_product_items">
        <div class="item">
            <div class="maincol">
                <img class="mainthumb" src="http://placehold.it/600x275.png"/>
                <div class="actions">
                    <a href="#" title="Thêm vào giỏ hàng" class="hastip"><i class="bbicon icon-cart"></i></a>
                    <a href="#" title="Thêm vào mục yêu thích" class="hastip"><i class="bbicon icon-heart"></i></a>
                    <a href="#" title="Biến thiệp này thành của riêng bạn!" class="hastip"><i class="bbicon icon-pen"></i></a>

                </div>
            </div>
            <div class="sidecol">
                <img src="http://placehold.it/130x130.png"/>
                <img class="bottom" src="http://placehold.it/130x130.png"/>
            </div>
        </div>
        <div class="item">
            <div class="maincol">
                <img class="mainthumb" src="http://placehold.it/600x275.png"/>
                <div class="actions">
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-cart.png') }}"/></a>
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-heart.png') }}"/></a>
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-personalize.png') }}"/></a>
                </div>
            </div>
            <div class="sidecol">
                <img src="http://placehold.it/130x130.png"/>
                <img class="bottom" src="http://placehold.it/130x130.png"/>
            </div>
        </div>
        <div class="item">
            <div class="maincol">
                <img class="mainthumb" src="http://placehold.it/600x275.png"/>
                <div class="actions">
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-cart.png') }}"/></a>
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-heart.png') }}"/></a>
                    <a href="#"><img src="{{ asset('bundles/haphanbobigift/images/icon-personalize.png') }}"/></a>
                </div>
            </div>
            <div class="sidecol">
                <img src="http://placehold.it/130x130.png"/>
                <img class="bottom" src="http://placehold.it/130x130.png"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block bobi_category_filter %}
    <div class="bobi_category_filter">
        <div>
            <div class="block-single active">
                <div>
                    <h3>Thiệp valentine</h3>
                </div>
            </div>
            <!--
            <div class="block">
                <div>
                    <h3>Thiệp</h3>
                    <ul>
                        <li><a href="#">Thiệp hình</a></li>
                        <li><a href="#">Thiệp video</a></li>
                        <li><a href="#">Thiệp valentine</a></li>
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}



{% block bobi_container %}{% endblock %}



