{% extends "HaphanBobiGiftBundle::layout.html.twig" %}

{% block body_container_main %}
    {{ parent() }}
    <h1>{{ app.request.get('slug') }}</h1>
{% endblock %}

{% block bobi_container %}{% endblock %}

