{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{# General layout #}
{% block head_title %}BobiGifts{% endblock %}
{% block body_container_header %}
    {{ block('bobi_user_bar') }}
    {{ block('bobi_branding') }}
    {{ block('bobi_navigation_bar') }}
{% endblock %}
{% block body_container_main %}
    <div>
        {{ block('bobi_container') }}
    </div>
{% endblock %}
{% block body_container_footer %}
    {{ block('bobi_footer_menu') }}
    {{ block('bobi_copyright') }}
{% endblock %}
{% block head_meta %}
    {{ parent() }}
    <link rel="shortcut icon" href="{{ asset('bundles/haphanbobigift/images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/haphanbobigift/images/favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('bundles/haphanbobigift/fonts/fonts.css') }}" >
    <link rel="stylesheet"  href="{{ asset('bundles/haphanbobigift/vendor/fontawesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet"  href="{{ asset('bundles/haphanbobigift/css/style.css') }}" >
{% endblock %}
{% block body_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/haphanbobigift/js/tooltipsy.min.js') }}"></script>
    <script src="{{ asset('bundles/haphanbobigift/js/site.js') }}"></script>
{% endblock %}


{# Block elements #}
{% block bobi_user_bar %}
    <div class="bobi_user_bar clearfix">
        <div>
            {% if app.user %}
            <ul class="userbar">
                <li><a href="{{ url('haphan_bobi_gift_cart') }}"><i class="fa fa-shopping-cart"></i> Giỏ hàng (0)</a></li>
                <li>Xin chào, {{ app.user.username }} <i class="fa fa-caret-down"></i>
                    <ul>
                        <li><a href="{{ url('fos_user_profile_edit') }}">Thông tin cá nhân</a></li>
                        <li><a href="{{ url('haphan_bobi_gift_orders')  }}">Đơn hàng</a></li>
                        <li><a href="{{ url('fos_user_security_logout') }}">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="userbar">
                <li><a href="{{ url('haphan_bobi_gift_cart') }}"><i class="fa fa-shopping-cart"></i> Giỏ hàng (0)</a></li>
                <li><a href="{{ url('fos_user_registration_register') }}">Đăng kí</a></li>
                <li><a href="{{ url('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block bobi_branding %}
    <div class="bobi_branding">
        <div>
            <a href="{{ url('haphan_bobi_gift_homepage') }}"><img src="{{ asset('bundles/haphanbobigift/images/bobi-logo.png') }}"/></a>
        </div>
    </div>
{% endblock %}

{% block bobi_navigation_bar %}
    <div class="bobi_navigation_bar">
        <div>
            <ul class="main">
                <li><a href="{{ url('haphan_bobi_gift_homepage') }}">Trang chủ</a></li>
                <li><a href="{{ url('haphan_bobi_gift_categories', { category: 'thiep' }) }}">Thiệp valentine</a></li>
                <!--
                <li><a href="#">Quà tặng</a></li>
                <li><a href="#">Bobi Gift</a></li>
                -->
                <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'chuyen-phat' }) }}">Chuyển phát</a></li>
                <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'chuyen-phat' }) }}">Thanh toán</a></li>
            </ul>
            <div class="subnav">
                <p><a href="#">Giới thiệu bạn bè</a> về BobiGifts để nhận ngay voucher giá 500 ngàn VND.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block bobi_footer_menu %}
    <div class="bobi_footer_menu">
        <div>
            <div class="block">
                <h4>Shop</h4>
                <ul>
                    <li><a href="#">T-shirt</a></li>
                    <li><a href="#">Mugs</a></li>
                    <li><a href="#">Jewelry</a></li>
                    <li><a href="#">Cards</a></li>
                    <li><a href="#">Gifts for him</a></li>
                    <li><a href="#">Gifts for her</a></li>
                </ul>
            </div>
            <div class="block">
                <h4>Our company</h4>
                <ul>
                    <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'cau-chuyen-bobigifts' }) }}">BobiGifts story</a></li>
                    <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'lien-he' }) }}">Liên hệ</a></li>
                    <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'thanh-toan-van-chuyen' }) }}">Thanh toán &amp; vận chuyển</a></li>
                    <li><a href="{{ url('haphan_bobi_gift_pages', { page: 'faq' }) }}">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="block">
                <h4>Your account</h4>
                <ul>
                    <li><a href="#">Login/Register</a></li>
                    <li><a href="#">Your favorite</a></li>
                    <li><a href="#">Your saved project</a></li>
                    <li><a href="#">View cart</a></li>
                    <li><a href="#">Your orders</a></li>
                </ul>
            </div>
            <div class="block block-company">
                <h4>Bobi Craft Co. LTD</h4>

                <p>
                    226A Huynh Van Banh, W.11, <br/>
                Phu Nhuan, HCMC, Vietnam.</p>
                <p>
                    Tel: 08 36024191<br/>
                    Email: info@bobicraft.com
                </p>
            </div>
            <div class="block block-social-media">
                <h4>Keep in touch</h4>
                <p>
                    <span><a href="#" title="Twitter" class="twitter">Twitter</a></span>
                    <span><a href="#" title="Facebook" class="facebook">Facebook</a></span>
                    <span><a href="#" title="Pinterest" class="pinterest">Pinterest</a></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block bobi_copyright %}
    <div class="bobi_copyright">
        <div>
            <p><span>&copy; {{ ''|date('Y') }} Bobi Craft. LTD. All rights reserved.</span></p>
        </div>
    </div>
{% endblock %}

{% block bobi_subscribe %}
    <div class="bobi_subscribe">
        <div>
            <h3>ĐĂNG KÍ NHẬN ƯU ĐÃI QUA EMAIL</h3>
            <form action="?" method="get">
                <input type="text" placeholder="Nhập địa chỉ email"/>
                <input type="submit" value="Xác nhận"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block bobi_featured %}
    <div class="bobi_featured">
        <div class="bobi-tabs">
            <aside>
                <ul class="tab-handlers">
                    <li class="active"><a href="#">Quà tặng Valentine</a></li>
                    <li><a href="#">Thiệp video</a></li>
                    <li><a href="#">Thiệp hình</a></li>
                    <li><a href="#">Quà cho nam</a></li>
                    <li><a href="#">Quà cho nữ</a></li>
                </ul>
            </aside>
            <div class="products tab-fragments">
                    <a href="#" class="active">
                        <img src="{{ asset('bundles/haphanbobigift/images/sample-image01.jpg') }}"/>
                    </a>
                    <a href="#">
                        <img src="http://placehold.it/720x340.gif"/>
                    </a>
                    <a href="#">
                        <img src="http://placehold.it/720x340.gif"/>
                    </a>
                    <a href="#">
                        <img src="http://placehold.it/720x340.gif"/>
                    </a>
                    <a href="#">
                        <img src="http://placehold.it/720x340.gif"/>
                    </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bobi_guide_video %}
    <div class="bobi_guide_video">
        <a href="#"><img src="http://placehold.it/310x210.gif"/></a>
        <a href="#"><img src="http://placehold.it/310x210.gif"/></a>
        <a href="#" class="last"><img src="http://placehold.it/310x210.gif"/></a>
    </div>
{% endblock %}

{% block bobi_showcase_horizontal %}
    <div class="bobi_showcase_horizontal">
        <a  href="#"><img src="http://placehold.it/185x155.gif"/></a>
        <a  href="#"><img src="http://placehold.it/185x155.gif"/></a>
        <a  href="#"><img src="http://placehold.it/185x155.gif"/></a>
        <a  href="#"><img src="http://placehold.it/185x155.gif"/></a>
        <a  href="#" class="last"><img src="http://placehold.it/185x155.gif"/></a>
    </div>
{% endblock %}