{% extends "HaphanBobiGiftBundle::layout.html.twig" %}

{% if form is defined %}
    {% form_theme form "HaphanBobiGiftBundle::bootstrap_form.html.twig" %}
{% endif %}

    {% block bobi_container %}
    {{ parent() }}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="fos_user_content">
    {% block fos_user_content '' %}
    </div>

{% endblock %}