body {
  font-family: bobimyriadproregular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #6d4b27;
}
a {
  text-decoration: none;
  color: #6d4b27;
}
a:hover {
  text-decoration: underline;
}
div#container > header {
  margin-bottom: 20px;
}
div#container > div[role=main] {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
div#container > div[role=main]:before,
div#container > div[role=main]:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
div#container > div[role=main]:after {
  clear: both;
}
div#container > footer {
  margin-top: 20px;
}
.bobi_layout_2cols {
  zoom: 1;
}
.bobi_layout_2cols .sidecol {
  width: 180px;
  float: left;
}
.bobi_layout_2cols .maincol {
  width: 750px;
  float: right;
}
.bobi_layout_2cols:before,
.bobi_layout_2cols:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_layout_2cols:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.block_center {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.block_center:before,
.block_center:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.block_center:after {
  clear: both;
}
form.form-vertical input[type=submit] {
  border-style: none;
  background-color: #f39f9b;
  color: #fff;
  padding: 6px 15px;
  font-size: 1.2em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 210px;
  margin-top: 10px;
}
form.form-vertical .control-group {
  padding: 10px 0;
}
form.form-vertical .control-group > label {
  margin-right: 20px;
  display: inline-block;
  width: 190px;
  float: left;
}
form.form-vertical .control-group > .controls {
  width: 200px;
  display: inline-block;
}
form.form-vertical .control-group > .controls > input,
form.form-vertical .control-group > .controls select {
  padding: 5px;
  width: 100%;
  border: 1px solid #a5723b;
  border-style: 1px solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.tooltipsy {
  padding: 10px;
  max-width: 150px;
  color: #fff;
  background-color: #80c8ba;
  border-style: none;
}
.bubbletooltip_tip {
  padding: 10px;
  color: #fff;
  background-color: #80c8ba;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  left: 0;
}
.bubbletooltip_tip:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #80c8ba;
  top: -10px;
  left: 50%;
  z-index: -1;
}
.bbicon {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
}
.bbicon.icon-cart {
  background-position: 0 -85px;
}
.bbicon.icon-cart:hover {
  background-position: -41px -85px;
}
.bbicon.icon-heart {
  background-position: 0 -42px;
}
.bbicon.icon-heart:hover {
  background-position: -41px -42px;
}
.bbicon.icon-pen {
  background-position: 0 0;
}
.bbicon.icon-pen:hover {
  background-position: -41px 0;
}
.bobi_user_bar {
  height: 30px;
  background-color: #80c8ba;
}
.bobi_user_bar > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.bobi_user_bar > div:before,
.bobi_user_bar > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_user_bar > div:after {
  clear: both;
}
.bobi_user_bar ul.userbar {
  margin: 0;
  text-align: right;
}
.bobi_user_bar ul.userbar > li {
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  color: #fff;
  height: 25px;
}
.bobi_user_bar ul.userbar > li > a {
  padding: 5px 7px 6px;
  display: block;
  color: #fff;
}
.bobi_user_bar ul.userbar > li > a:hover {
  background-color: #f39f9b;
  text-decoration: none;
}
.bobi_user_bar ul.userbar > li:hover ul {
  display: block;
}
.bobi_user_bar ul.userbar > li ul {
  margin: 0;
  width: 160px;
  position: absolute;
  top: 25px;
  right: 0px;
  display: none;
  padding: 0;
}
.bobi_user_bar ul.userbar > li ul li {
  color: #fff;
  text-align: right;
  list-style: none;
}
.bobi_user_bar ul.userbar > li ul li a {
  display: block;
  width: 100%;
  padding: 6px 10px;
  border-top: 1px solid #fff;
  width: 140px;
  background-color: #80c8ba;
  color: #fff;
}
.bobi_user_bar ul.userbar > li ul li a:hover {
  text-decoration: none;
  background-color: #f39f9b;
}
.bobi_branding > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.bobi_branding > div:before,
.bobi_branding > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_branding > div:after {
  clear: both;
}
.bobi_navigation_bar {
  margin-bottom: 20px;
}
.bobi_navigation_bar > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.bobi_navigation_bar > div:before,
.bobi_navigation_bar > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_navigation_bar > div:after {
  clear: both;
}
.bobi_navigation_bar ul.main {
  border-top: 1px solid #80c8ba;
  border-bottom: 1px solid #80c8ba;
  margin: 0 0 10px 0;
  padding: 0;
}
.bobi_navigation_bar ul.main li {
  display: inline-block;
}
.bobi_navigation_bar ul.main li a {
  display: block;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  color: #6d4b27;
  padding: 5px 20px;
  font-size: 1.3em;
}
.bobi_navigation_bar ul.main li a:hover {
  color: #80c8ba;
  text-decoration: none;
}
.bobi_navigation_bar .subnav {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #f39f9b;
  color: #fff;
  padding: 10px 20px;
}
.bobi_navigation_bar .subnav p {
  margin: 0;
}
.bobi_navigation_bar .subnav a {
  color: inherit;
  text-decoration: none;
}
.bobi_footer_menu {
  margin-top: 0px;
  border-top: 4px solid #f39f9b;
  padding-bottom: 1em;
}
.bobi_footer_menu > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.bobi_footer_menu > div:before,
.bobi_footer_menu > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_footer_menu > div:after {
  clear: both;
}
.bobi_footer_menu .block {
  width: 130px;
  float: left;
  margin: 0 15px;
}
.bobi_footer_menu .block > h4 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.bobi_footer_menu .block ul {
  margin: 0;
  padding: 0;
}
.bobi_footer_menu .block ul li {
  list-style: none;
  display: block;
}
.bobi_footer_menu .block ul li a {
  display: block;
  padding: 7px 0;
}
.bobi_footer_menu .block.block-company {
  width: 170px;
}
.bobi_footer_menu .block.block-social-media {
  float: right;
  width: 150px;
}
.bobi_footer_menu .block.block-social-media a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  margin-right: 1em;
}
.bobi_footer_menu .block.block-social-media a.twitter {
  background: transparent url(../images/twitter.png) top center no-repeat;
}
.bobi_footer_menu .block.block-social-media a.facebook {
  background: transparent url(../images/facebook.png) top center no-repeat;
}
.bobi_footer_menu .block.block-social-media a.pinterest {
  background: transparent url(../images/pinterest.png) top center no-repeat;
}
.bobi_copyright {
  background-color: #80c8ba;
  text-align: right;
  color: #fff;
  height: 30px;
  overflow: hidden;
}
.bobi_copyright > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.bobi_copyright > div:before,
.bobi_copyright > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_copyright > div:after {
  clear: both;
}
.bobi_copyright p {
  margin: 0;
  display: block;
  float: right;
  height: 100%;
}
.bobi_copyright p > span {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 100%;
}
.bobi_subscribe {
  overflow: hidden;
  padding: 1em 0;
  border-top: 1px solid #80c8ba;
  border-bottom: 1px solid #80c8ba;
}
.bobi_subscribe > div {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
  height: 67px;
  background: transparent url('../images/subscribe-bg.png') top center no-repeat;
}
.bobi_subscribe > div:before,
.bobi_subscribe > div:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_subscribe > div:after {
  clear: both;
}
.bobi_subscribe h3 {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  height: 67px;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  width: 350px;
  text-align: right;
}
.bobi_subscribe form {
  width: 500px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.bobi_subscribe form input[type=text] {
  border-style: none;
  font-size: 16px;
  height: 23px;
  margin-left: 49px;
  margin-right: 15px;
  width: 332px;
}
.bobi_subscribe form input[type=text]:focus {
  outline-style: none;
}
.bobi_subscribe form input[type=submit] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #df8b87;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  height: 36px;
  background-color: #fff;
  border-bottom-style: none;
  border-left-style: none;
  border-top: 2px solid #f39f9b;
  border-right: 2px solid #f39f9b;
  padding: 0 20px;
}
.bobi_featured > div {
  overflow: hidden;
  clear: both;
  height: 340px;
  position: relative;
  padding-bottom: 20px;
}
.bobi_featured div.products {
  height: 340px;
  width: 730px;
  position: absolute;
  top: 0;
  width: 720px;
  z-index: 0;
  right: 0;
}
.bobi_featured div.products > a {
  display: none;
  height: 340px;
  width: 730px;
  position: absolute;
  top: 0;
}
.bobi_featured div.products > a.active {
  z-index: 5;
  display: block;
}
.bobi_featured aside {
  z-index: 10;
  width: 263px;
  position: absolute;
  top: 0;
}
.bobi_featured aside ul {
  margin: 0;
  padding: 0;
}
.bobi_featured aside ul li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}
.bobi_featured aside ul li a {
  padding-left: 20px;
  display: table-cell;
  width: 100%;
  background: transparent url(../images/indicator-bg.png) top left no-repeat;
  height: 60px;
  width: 263px;
  vertical-align: middle;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
.bobi_featured aside ul li a:hover {
  text-decoration: none;
}
.bobi_featured aside ul li.active a {
  background-image: url(../images/indicator-hover-bg.png);
}
.bobi_guide_video {
  border-top: 1px solid #80c8ba;
  padding: 20px 0;
}
.bobi_guide_video > a {
  display: inline-block;
  margin-right: 11px;
  line-height: 1em;
}
.bobi_guide_video > a.last {
  margin-right: 0;
}
.bobi_showcase_horizontal {
  padding-top: 20px;
}
.bobi_showcase_horizontal > a {
  display: inline-block;
  width: 185px;
  height: 155px;
  margin-right: 5px;
}
.bobi_showcase_horizontal > a.last {
  margin-right: 0;
}
.bobi_breabcrumb {
  background-color: #80c8ba;
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.bobi_breabcrumb > p {
  display: block;
  border: 1px dashed #fff;
  padding: 5px;
  font-size: 1.6em;
  line-height: 1.3em;
  color: #fff;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  background-color: #80c8ba;
  margin: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.bobi_breabcrumb > p a {
  color: #fff;
  display: inline-block;
  padding: 2px 8px;
}
.bobi_category_filter .block-single {
  position: relative;
  background-color: #80c8ba;
}
.bobi_category_filter .block-single.active {
  padding-right: 0;
}
.bobi_category_filter .block-single.active > div {
  border-right-style: none;
}
.bobi_category_filter .block-single.active:after {
  content: ".";
  overflow: hidden;
  background: transparent url(../images/filter-arrow.png) scroll top right no-repeat;
  display: block;
  width: 32px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: -21px;
  color: transparent;
}
.bobi_category_filter .block {
  background-color: #f39f9b;
}
.bobi_category_filter .block ul {
  padding: 0;
  margin: 0;
}
.bobi_category_filter .block ul li {
  display: block;
}
.bobi_category_filter .block ul a {
  padding: 2px 0;
  display: inline-block;
}
.bobi_category_filter .block ul a:hover {
  color: #fff;
  text-decoration: none;
}
.bobi_category_filter .block,
.bobi_category_filter .block-single {
  padding: 3px;
  margin-bottom: 5px;
}
.bobi_category_filter .block h3,
.bobi_category_filter .block-single h3 {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  color: #fff;
  margin: 0;
}
.bobi_category_filter .block > div,
.bobi_category_filter .block-single > div {
  padding: 6px 10px;
  border: 1px dashed #fff;
}
.bobi_product_items .item {
  margin-bottom: 20px;
  zoom: 1;
}
.bobi_product_items .item .maincol {
  float: left;
  width: 600px;
  position: absolute;
}
.bobi_product_items .item .maincol .mainthumb {
  position: absolute;
  top: 0;
}
.bobi_product_items .item .maincol .actions {
  position: relative;
  top: 10px;
  right: 10px;
  text-align: right;
}
.bobi_product_items .item .maincol .actions img {
  width: 30px;
  height: auto;
}
.bobi_product_items .item .sidecol {
  float: right;
  width: 130px;
}
.bobi_product_items .item .sidecol img {
  margin-bottom: 15px;
}
.bobi_product_items .item .sidecol img.bottom {
  margin-bottom: 0px;
}
.bobi_product_items .item:before,
.bobi_product_items .item:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_product_items .item:after {
  clear: both;
}
